.application {
    width: 635px;
    height: 100%;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 70px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 5px 10px 18px rgb(0, 153, 255);
}

.error-text {
    color: red;
    font-style: italic;
    display: block;
}

.forms {
    margin: 40px 90px 0 100px;
}

.usernametext {
    display: flex;
    margin-top: 10px;
    
}

.usernametext2 {
    display: flex;
    margin-top: 15px;
    
}



#firstname {
    margin-left: 93px;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 5px;
    
}

#surname {
    margin-left: 50px;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 5px;
}

#Username {
    margin-left: 40px;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 5px;
    
}

#myemail {
    margin-left: 40px;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 5px;
}

#passw {
    margin-left: 45px;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 5px;
    
}

#passw2 {
    margin-left: 30px;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 5px;
   
}

.app {
    font-size: 40px;
    margin-left: 150px;
    margin-top: 30px;
    font-family: 'Abril Fatface', cursive;
}

.h2 {
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
}

.radioclass {
    margin-top: 40px;
}

.checkboxclass {
    margin-top: 20px;
}

.allradio {
    margin-top: 20px;
    margin-left: -5px;
}

.h3 {
    margin-left: 220px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.h2tag {
    margin-left: 80px;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}
.h2tag1 {
    margin-left: 40px;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

#toggleIcon {
    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
}

#toggleIcon2 {
    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
}


#emailtext {
    display: block;
}

.clickbutton {
    margin-top: 10px;
}

.buttonclass {
    margin-top: 20px;
}
